version: '3'

services:
  db:
    image: postgres
  web:
    build: .
    command: python manage.py runserver -h 0.0.0.0 -p 8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

